{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">
{% endblock %}
<body>
    <h2> Four Guys Express </h2>
    <ul>
  <li><a href="/">Home</a></li>
  <li><a href="menu">Menu</a></li>
  <li><a href="contact">Contact Us</a></li>
  <li><a href="signup">Sign up</a></li>
  <li><a href="login">Log in</a></li>
</ul>

</body>
</html>