<!DOCTYPE html>

<html>
<style>
    h1{
        text-align: center;
    }
    img {
    display: block;
    margin: 0 auto;
    }
     body {
        width: 1054px;
        height: 1054px;
        background-color: red;
    }
</style>
<title>Reporting to the FBI </title>
<body>
<h1>
Reporting to the FBI
</h1>
<img src="static/FBIwie.jpg" alt="FBI" align="middle">
<img src="static/wiebond.jpg" alt="FBI" align="middle">
<p>
Warning!
</p>
<script>
function alertfbi (){
	alert("Are you sure you want to report to the FBI?")
}

</script>
<form>
<input type="button" value="Click here to report" onclick="alertfbi()">

</form>
</body>
</html>