{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Login Employee
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">
{% endblock %}

{% block content %}
    <img src="static/LogoSample_ByTailorBrands.jpg" height="150" width="150" style="user-select: none; margin-left: 560px;margin-bottom: 0px;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div style="background-color: #ef0909">
    <p style="font-size: 40px">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">

      <form class="form-signin" method="post" action="/loginEmployee">
        <h2 class="form-signin-heading" align="center">Please sign in employee</h2>
          </h1>
          {{ loginForm.hidden_tag() }}
          {{ wtf.form_field(loginForm.employee)}}
          {{ wtf.form_field(loginForm.password)}}
          {{ wtf.form_field(loginForm.remember)}}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}