{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Manager Page
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
    {#  Using FontAwesome for heart icons #}
     @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
     input[type="text"] {
       width: 200px;
         background-color: lightcyan;

     }
    p,a{
        font-family: "Allerta Stencil";
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
        line-height: 16px;
    }
    h1{
        font-family: "Allerta Stencil";
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 16px;
    }

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    </style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="menu">Menu</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="logout">LogOut</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <img src="static/LogoSample_ByTailorBrands.jpg" height="150" width="150" style="user-select: none">
        <br>
      <p><a href="#">Manager</a></p>

      <form method="post" action="/managerPage">
      {{ managerForm.hidden_tag() }}
      {{ wtf.form_field(managerForm.hire) }}
          <br>
      </form>
    </div>
    <div class="col-sm-8 text-left" style="width: 752px">

      <h1>Manager Notifications</h1>

       <form method="post" action="/managerPage">
{#       {% for item in menu %}#}
{#           <p>{{ item.itemName }}</p>#}
{#       {% endfor %}#}

       </form>
{#      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
      <hr>
      <h3>Check Compliments and Complaints</h3>
      <form method="post" action="/managerPage">
          {% for comp in showCom  %}
           {% if comp[0] == 0 %}
               <p>Complaint</p>
           {% else %}
                <p>Compliment</p>
            {% endif %}
           <p>Order: {{ comp[1] }}</p>
           <p>{{ comp[2] }}</p>
           <p>{{ comp[3] }}</p>
           {{ comp[4].hidden_tag() }}
           {{ wtf.form_field(comp[4].accept) }}
           {{ wtf.form_field(comp[4].warning) }}
              <hr>
{#           <p>==============================</p>#}
        {% endfor %}
      </form>



      <form method="post" action="/managerPage">
      <h3>Demoted Employees To Fire</h3>
          {% for dem in demotions  %}
           {% if dem[0] == 2 %}
               <p>{{ dem[1] }}</p>
               <p>This employee has {{ dem[0] }} demotions and MUST be Fired!</p>
               <hr>
{#               <p>==============================</p>#}
            {% endif %}
{#           {{ comp[4].hidden_tag() }}#}
{#           {{ wtf.form_field(comp[4].accept) }}#}
{#           {{ wtf.form_field(comp[4].warning) }}#}
        {% endfor %}
      </form>

    <form method="post" action="/managerPage">
      <h3>Grant VIP to Customer</h3>
          {% for vip in vipNotification  %}
               <p>{{ vip[1] }} has {{ vip[2] }} orders and ${{ vip[3] }} spent.</p>
              <p>Customer MUST be granted VIP</p>
              <hr>
{#               <p>==============================</p>#}
{#           {{ comp[4].hidden_tag() }}#}
{#           {{ wtf.form_field(comp[4].accept) }}#}
{#           {{ wtf.form_field(comp[4].warning) }}#}
        {% endfor %}
      </form>

    <form method="post" action="/managerPage">
      <h3>Drop VIP Status for Customer</h3>
          {% for drop in dropVipNotification  %}
               <p>{{ drop }} is to be dropped from VIP.</p>
              <hr>
{#               <p>==============================</p>#}
{#           {{ comp[4].hidden_tag() }}#}
{#           {{ wtf.form_field(comp[4].accept) }}#}
{#           {{ wtf.form_field(comp[4].warning) }}#}
        {% endfor %}
      </form>

    <form method="post" action="/managerPage">
      <h3>Customers With Three Warnings</h3>
          {% for war in deregisterNotification  %}
               <p>{{ war }} has three warnings. To be de-registered </p>
              <hr>
{#               <p>==============================</p>#}
{#           {{ comp[4].hidden_tag() }}#}
{#           {{ wtf.form_field(comp[4].accept) }}#}
{#           {{ wtf.form_field(comp[4].warning) }}#}
        {% endfor %}
      </form>

    <form method="post" action="/managerPage">
      <h3>New Customer Account Requests</h3>
          {% for newC in newCustomers  %}
               <p>{{ newC[1] }} wants to create a new account.</p>
              {{ newC[2].hidden_tag() }}
              {{ wtf.form_field(newC[2].accept) }}
              {{ wtf.form_field(newC[2].reject) }}
              <hr>
{#               <p>==============================</p>#}

        {% endfor %}
      </form>


    <form method="post" action="/managerPage">
      <h3>Customer Close Account Requests</h3>
          {% for req in closeRequests  %}
               <p>{{ req }} requests to close account.</p>
              <hr>
{#               <p>==============================</p>#}
{#           {{ comp[4].hidden_tag() }}#}
{#           {{ wtf.form_field(comp[4].accept) }}#}
{#           {{ wtf.form_field(comp[4].warning) }}#}
        {% endfor %}
      </form>
    </div>



{##############################}
  <div class="col-sm-2 sidenav" style="width: 300px" >

    <form method="post" action="/managerPage" >
      {{ managerForm.hidden_tag() }}
      {{ wtf.form_field(managerForm.employeeDropList) }}
      {{ wtf.form_field(managerForm.promoteE) }}
        <br>
      {{ wtf.form_field(managerForm.demoteE) }}
        <br>
      {{ wtf.form_field(managerForm.fire) }}
        <br>
        <br>
      {{ wtf.form_field(managerForm.customerDropList) }}
      {{ wtf.form_field(managerForm.promoteC) }}
        <br>
      {{ wtf.form_field(managerForm.demoteC) }}
        <br>
      {{ wtf.form_field(managerForm.close) }}
    </form>
    </div>

{##############################}

  </div>
</div>

{% endblock %}
