{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
menus
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">
    <style>
     input[type="text"] {
       width: 50px;
         background-color: lightcyan;

     }


    </style>
{% endblock %}
{% block content %}
    <ul class="list-inline">
  <li><a href="/">Home</a></li>
  <li><a href="menu">Menu</a></li>
  <li><a href="contact">Contact Us</a></li>
  <li><a href="signup">Sign up</a></li>
  <li><a href="login">Log in</a></li>
    </ul>
     <h1> Shopping Cart</h1>
    {% if doge == 0 or sumitem == 0%}
        <h1> Cart is empty </h1>
    {% else %}
        <div class="container-fluid">
        <form method="post" action="/menu">

        <div class="row">
        <div class="col-md-4">
    {% for items in databaseitems%}
{#        {{ form.hidden_tag() }}#}
        <p>{{ items.itemName }}</p>
    {% endfor %}
    </div>
    <div class="col-md-4">
{#        {{ form.hidden_tag() }}#}
        {% for items in total %}
            <p>Total Price for this item:{{ items }}</p>
        {% endfor %}
    </div>
    </div>
    <h1> Total Price</h1>
    <h2>${{ sumitem }}</h2>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Checkout</button>
    </form>
    </div>
    {% endif %}
<br>
    <h1> Menu</h1>
    <div class="container-fluid">
    <form method="post" action="/menu">
    <div class="row">
    <div class="col-md-4" style=" display: block; float: left;">
    {% for items in databaseitems %}
{#        {{ for.hidden_tag() }}#}
        <div class="col-md-4" >
        <p>{{ items.itemName }}</p>
        <p>Price: ${{ items.itemPrice }}</p>
        <img src="static/{{ items.itemPict }}" height="200" width="100">
        <p>{{ items.itemDesc }}</p>

       {{ formlist[loop.index0].hidden_tag() }}
        {{ wtf.form_field(formlist[loop.index0].qty)}}
       </div>

    {% endfor %}

{#     {% for thisform in formlist %}#}
{#        {{ thisform.hidden_tag() }}#}
{#         {{ wtf.form_field(thisform.qty)}}#}
{#     {% endfor %}#}


{#    {% for items in databaseitems%}#}
{#        {{ form.hidden_tag() }}#}
{#        <p>{{ items.itemName }}</p>#}
{#        <p>Price:${{ items.itemPrice }}0</p>#}
{#        <img src="static/{{ items.itemPict }}" alt="FBI">#}
{#        <p>{{ items.itemDesc }}</p>#}
{#            {{ form.hidden_tag() }}#}
{#        {% if loop.index == 1 %}#}
{#            {{ form.hidden_tag() }}#}
{#            {{ wtf.form_field(form.qty0)}}#}
{#        {% elif loop.index == 2 %}#}
{#            {{ form.hidden_tag() }}#}
{#            {{ wtf.form_field(form.qty1)}}#}
{#        {% else %}#}
{#            {{ form.hidden_tag() }}#}
{#            {{ wtf.form_field(form.qty2)}}#}
{#        {% endif %}#}
{#    {% endfor %}#}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add to Cart</button>
    </div>
    </form>
    </div>

    <br>

{#    <input placeholder="lol">#}
{#    <form>#}
{#<input type="number" >#}
{#</form>#}
    <input type="number" >
    <input type="number">
    <input type="number" >
    <input type="number">

{% endblock %}
